
Kauppalista/obj/project.nuget.cache
Kauppalista/obj/project.assets.json
Kauppalista/obj/Kauppalista.csproj.nuget.g.props
Kauppalista/obj/Kauppalista.csproj.nuget.dgspec.json
Kauppalista/obj/Debug/net7.0/Kauppalista.GeneratedMSBuildEditorConfig.editorconfig
Kauppalista/obj/Debug/net7.0/Kauppalista.AssemblyInfo.cs
Kauppalista/obj/Debug/net7.0/Kauppalista.AssemblyInfoInputs.cache
